<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Create a new task</title>
  </head>
  <body>
  <div id="blog">
    
    <form action="/create_task" method="post">
      <input type="text" name="content" placeholder="content">
      <button type="submit" name="action" value="save">Add task</button>
    </form>
  </div>
  </body>
</html>