<!doctype html>
<html>
  <head>
    <title>Create a new task</title>
  </head>
  <body>
    
    <form action="/create_task" method="post">
      <input type="text" name="content" placeholder="content">
      <button type="submit" name="action" value="save">Add task</button>
    </form>
    
  </body>
</html>