<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta charset="UTF-8">
  <title>MY BLOG</title>
</head>
<body>
<div id="blog">
  <form action="/create_post" method="post">
    <input type="text" placeholder="Title of the post" name="title">
    <input type="text" placeholder="Cathegory" name="cathegory">
    <input type="text" placeholder="Author" name="author">
    <textarea raws=20 type="text" placeholder="Text of the post" name="text"></textarea>
    <button type="submit" name="create">Create!</button>
  </form>
</div>
</body>
</html>

